@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-ink-50 text-ink-900 antialiased;
  }
  ::selection {
    @apply bg-brand-100 text-brand-900;
  }
}

@layer utilities {
  .h-dvh {
    height: 100dvh;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
